.card {
    width: 360px;
    height: fit-content;

    padding: 35px 20px 25px 20px;
    margin-right: 80px;
    border-radius: 15px;

    backdrop-filter: blur(40px);
    box-shadow: 6px 6px 15px 0px rgba(90, 137, 127, 0.25);
    background: linear-gradient(163.8deg, rgba(255, 255, 255, 0.35) 7.91%, rgba(255, 255, 255, 0.7) 94.94%);
}

.card:before {
    content: "";
    position: absolute;
    z-index: -1;            
    inset: 0;

    padding: 1px;           
    border-radius: 13px;    

    background: linear-gradient(359deg, rgba(0, 0, 0, 0.2) 12.76%, #FFFFFF 97.75%);
    mask: 
        linear-gradient(#000 0 0) exclude, 
        linear-gradient(#000 0 0) content-box;
}

.header {
    margin: 0px;

    font-family: Playfair Display, serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.3em;

    color: #000000;
}

.header--green {
    color: #497D74;

    font-family: Playfair Display, serif;

    font-weight: 500;
    font-size: 24px;
    line-height: 1.33em;

    margin: 6px 0px 60px 0px;
}

.img {
    width: 100%;
    height: 320px;
    object-fit: cover;

    border-radius: 24px;
}