.card {
  position: relative; /* Pseudo-element uchun joylashuv */
  background: radial-gradient(
    207.71% 178.63% at 36.84% 0%,
    rgba(39, 68, 93, 0.11) 0%,
    rgba(39, 68, 93, 0.29) 100%
  );
  border: 1px solid #000; /* Border o'rniga pseudo-element ishlatamiz */
  border-radius: 12px;
  backdrop-filter: blur(40px);
  box-shadow: 6px 6px 25px 0px #00000040;
  padding: 17px 12px;
  overflow-x: hidden; /* Radiusdan tashqariga chiqadigan qismlarni yashirish */
  height: 352px;
  overflow-y: auto;
}
.card::-webkit-scrollbar {
  display: none;
}

/* .card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid transparent;
  border-radius: 12px;
  border-image-source: linear-gradient(180deg, #ffffff 0%, #000000 100%);
  border-image-slice: 1;
  border-image-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  pointer-events: none;
} */

.cardTitle {
  font-family: 'Playfair Display';
  font-weight: 500;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.userImg {
  border-radius: 50%;
  width: 95px;
  height: 95px;
  border: 1px solid #000;
  box-shadow: 6px 6px 25px 0px #00000040;
  margin: 0 auto;
  display: block;
  object-fit: cover;
  margin-bottom: 15px;
}

.userLink {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #525756;
  text-align: center;
  display: block;
  margin-top: 5px;
  text-decoration: none;
}

.line {
  width: 100%;
  border: 1px solid #000000;
  margin: 18px 0 12px 0;
}

.clients {
  padding: 0 13px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.clientsBox {
  display: flex;
  align-items: center;
  gap: 12px;
}

.clientsBox .userImg {
  margin: 0;
}

.userName {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
