.type-of-business {
    border: none;
    padding: 0px;
    margin: 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    width: 50%;
}

.radio-buttons {
    display: flex;
    width: 50%;
}

.header {
    margin: 0px;
    padding: 0px;

    font-family: Playfair Display, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;

    color: rgba(82, 87, 86, 1);
}

.input {
    position: absolute;   
    z-index: -1;
    opacity: 0;
}

.false-input {
    display: block;
    flex-grow: 1;
    padding: 10px 14px 12px 14px;

    border: solid 1px;
    border-radius: 15px;

    font-family: Playfair Display, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;

    color: rgba(0, 0, 0, 1);
    transition: background-color 0.4s, color 0.4s;
}

.false-input:hover {
    background-color: rgba(113, 187, 178, 0.7);
}

.input:disabled + .false-input {
    background-color: #1b3149;
    color: #fff;
}

.input:checked + .false-input {
    background-color: #007BFF;
    color: #fff;
}

.dropdown-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown {
    width: 50%;
    padding: 8px;
    border: 1px solid;
    border-radius: 15px;

    font-family: Playfair Display, serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    background-color: rgba(0, 0, 0, 0);
}

.dropdown--choice {
    border: none;
    box-shadow: none;
    border-radius: 15px;

    background-color: #007BFF;
}