body {
    background-image: url("../../static/img/background.png");
}

@media (max-width: 1920px) {
    body {
        padding: 150px;
    }
}

@media (max-width: 1200px) {
    body {
        padding: 80px;
    }
}

.main_screen {
    display: inline-flex;
}