* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/src/assets/background.png');
  margin: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1920px) {
  .mainpage {
    padding: 120px;
  }
}

@media (max-width: 1200px) {
  .mainpage {
    padding: 60px;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
}
button {
  cursor: pointer;
  padding: 0;
  background: transparent;
  border: none;
}

.logo {
  padding: 10px 22px;
  background: linear-gradient(
    133.46deg,
    rgba(255, 255, 255, 0.24) 15.95%,
    rgba(255, 255, 255, 0.55) 100.75%
  );
  border: 1px solid #000;
  /* border-image-source: linear-gradient(0deg, #000000 0%, #ffffff 100%); */
  width: fit-content;
  margin: 0 auto 51px auto;
  backdrop-filter: blur(40px);

  border-radius: 13px;
  box-shadow: 6px 4px 25px 0px #00000040;
}
.logo a {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;

  text-decoration: none;
  color: #000;
}
