.offers {
    max-width: 708px;
}

.header {
    margin-bottom: 1.25rem;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 100%;
}

.hr {
    box-shadow: none;
    border: none;
    
    height: 1.1px;
    margin-bottom: .5rem;
    background-color: #497D74;
    opacity: 0.4;
  }


