.footer {
    background-color: rgba(39, 68, 93, 1);
}

.main {
    margin: auto;
    padding: 3.75rem;
    max-width: 80rem;
  }

.header {
    margin: 0px 0px 36px 0px;

    font-weight: 500;
    font-size: 2rem;
    line-height: 100%;

    color: rgba(255, 255, 255, 1);
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 2.25rem;
}

.link {
    margin-bottom: 12px;

    text-decoration: none;
    font-family: Playfair Display, serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;

    color: rgba(255, 255, 255, 1);
}

.link:hover {
    text-decoration: underline 1.1px;
    text-underline-offset: 3px;
}