.container {
    font-family: 'Playfair Display', serif;
    
    display: flex;
    max-width: 61.25rem;
    padding: 3.75rem 1.875rem;
    margin: auto;
}

.container__left {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 1.875rem;
    padding-bottom: 4.375rem;
    border-radius: .9375rem 0rem 0rem .9375rem;

    background: 
        radial-gradient(93.3% 169.73% at 18.2% 11.38%, 
        rgba(39, 68, 93, 0.1) 0%, 
        rgba(39, 68, 93, 0.3) 100%);
    backdrop-filter: blur(1.25rem);
}

.header {
    margin-bottom: 1.25rem;
}

.infoBlock h2 {
    font-weight: 500;
    font-size: 2rem;
    color: #000000;
}

.infoBlock h3 {
    font-weight: 400;
    font-size: 1.25rem;
    color: #497D74;
}

.infoBlock {
    width: 80%;
    max-width: 26.25rem;
    
    display: flex;
    flex-direction: column;

    gap: .25rem;
}

.infoBlock.personal {
    margin-bottom: 1rem;
}

.inputLabel {
    font-weight: 400;
    font-size: 1rem;

    color: #497D74;
    margin-bottom: .25rem;
}

.input {
    display: flex;
    padding: .875rem 1rem;

    background: rgba(230, 235, 240, 0.5);
    border: 1px solid #798C91;
    border-radius: .9375rem;
}

.input::placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;

    color: rgba(75, 100, 116, 0.8);

    transition: color 0.3s ease;
}

.input:focus {
    outline: none;
}

.input:focus::placeholder {
    color: rgba(75, 100, 116, 0.5);
}

/* кнопка создания аккаунта */

.createButton {
    display: flex;
    justify-content: center;
    
    min-width: 12.5rem;
    width: 75%;
    padding: .75rem;
    margin: 0rem auto 1rem auto;

    font-weight: 400;
    font-size: 1.25rem;
    color: #2F3337;

    border-radius: .75rem;
    background:
    url('../../../static/img/texture.png'),
    linear-gradient(
        90.86deg, 
        rgba(150, 200, 188, 0.4) 22.35%, 
        rgba(73, 125, 116, 0.3) 81.97%);
        background-blend-mode: plus-darker, normal;
        backdrop-filter: blur(20px);
}

.createButton:before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;            /* наслоение по z */
    padding: 2px;           /* толщина рамки */
    border-radius: .9375rem;

    background: 
    linear-gradient(340deg, 
        #000000 12.76%, 
        #ffffff 97.75%);
    mask:
        linear-gradient(#000 0 0) exclude,
        linear-gradient(#000 0 0) content-box;
}

/* состояния кнопки */

button:hover {
    color: rgba(35, 35, 47, 0.9);
    background: rgba(119, 139, 145, 0.3);
}

button:active {
    background: rgba(113, 187, 178, 0.8);
}

/* правая сторона формы */

.container__right {
    width: 40%;
    display: flex;
    border-radius: 0rem .9375rem .9375rem 0rem;

    background: 
        url("../../../static/img/main-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    width: 100%;
    padding: 2.5rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    width: 100%;
    margin-bottom: 1.875rem;
}

.accountType h2 {
    font-weight: 500;
    font-size: 2.375rem;
    color: #FFFFFF;
}

.accountType h3 {
    font-weight: 500;
    font-size: 1.5rem;
    color: #D1DDD9;
}

.radio {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.25rem;
    gap: .75rem;
}

.radioContainer {
    display: flex;
    gap: 1.125rem;
}

.radioLabel {
    font-weight: 400;
    font-size: 1.25rem;
    color: #FFFFFF;
}

.back-link {
    display: flex;
    margin: 0rem auto 0rem auto;

    font-weight: 300;
    font-size: 1rem;

    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1.1px;

    color: rgba(255, 255, 255, 0.8);
}